/* General */

@font-face {
  font-family: vazir;
  src: url(../fonts/Vazirmatn-VariableFont_wght.ttf);
}

:root {
  --Purple: #270257;
  --Yellow: #feb100;
  --Black: #000000;
  --White: #ffffff;
  --Nav-button: rgba(255, 255, 255, 0.05);
  --Nav-hover: rgba(255, 255, 255, 0.1);
  --popup: rgba(0, 0, 0, 0.5);
}

body {
  font-family: vazir, Arial, Helvetica, sans-serif;
}
.button {
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.button-yellow {
  background-color: var(--Yellow);
  color: var(--Purple);
}

.button-yellow:hover,
.button-purple:hover {
  background-color: var(--White);
}

.button-purple {
  background-color: var(--Purple);
  color: var(--Yellow);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.purple {
  color: var(--Purple);
}

.yellow {
  color: var(--Yellow);
}

h1,
h2 {
  font-size: 4rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  background: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item {
  color: var(--White);
  background-color: var(--Nav-button);
  margin: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.2s ease-in-out;
}

.nav-item:hover {
  background-color: var(--Nav-hover);
  transform: translateY(0.2rem);
}

.burger {
  background-color: var(--White);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 1.5rem;
  padding: 0.25rem;
  display: none;
}

.logo {
  width: 30rem;
}

.header .button {
  margin: 2rem;
}

@media only screen and (max-width: 600px) {
  .header {
    background: url(../images/banner-mobile.png);
    background-size: cover;
  }

  /* .navbar {
    flex-direction: column;
  }

  .nav-item {
    width: max-content;
  } */

  .nav-item {
    display: none;
  }

  .nav-item-show {
    display: flex;
    animation: burger 1s;
  }

  @keyframes burger {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .burger {
    display: flex;
  }

  .logo {
    width: 20rem;
  }
}

/* Menu */

.menu {
  background-color: var(--Yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu h1 {
  font-size: 4rem;
  padding: 2rem;
  color: var(--White);
}

.menu-items {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-evenly;
  align-content: space-between;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin: 3rem 0;
}

menu-item:hover {
  transform: scale(1, 0.2);
}

.menu-item-text {
  background-color: var(--White);
  color: var(--Purple);
  text-align: center;
  border-radius: 2rem;
  border: 1rem;
  box-sizing: border-box;
}

.menu-item-image {
  border-radius: 2rem;
  margin-bottom: -5rem;
}

@media only screen and (max-width: 992px) {
  .menu-items {
    grid-template-columns: 40% 40%;
  }
}

@media only screen and (max-width: 600px) {
  .menu-items {
    grid-template-columns: 90%;
  }
}

/* Comments */

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.comments h2 {
  color: var(--Yellow);
  text-align: center;
  padding: 2rem;
}

.comment-items {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 15% 15%;
  justify-content: space-evenly;
  align-content: space-between;
}

.comment-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0;
}

.comment-item-image {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.comment-item-text h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--Purple);
}

.comment-item-text p {
  text-align: justify;
  font-style: italic;
  border-left: 0.3rem solid var(--Yellow);
  padding-left: 2rem;
}

@media only screen and (max-width: 992px) {
  .comment-items {
    grid-template-columns: 30% 30%;
  }
}

@media only screen and (max-width: 600px) {
  .comment-items {
    grid-template-columns: 50%;
  }
}

/* About Us */

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--Purple);
  color: var(--White);
  padding: 5rem 0;
}

.about-us-image {
  width: 40%;
  border-radius: 5rem;
}

.about-us-text {
  width: 40%;
  text-align: center;
}

.about-us-text p {
  text-align: justify;
  font-size: 2rem;
}

@media only screen and (max-width: 992px) {
  .about-us {
    flex-direction: column;
    padding: 2rem 0;
  }

  .about-us-image,
  .about-us-text {
    width: 90%;
  }
}

/* Footer */

.footer {
  background-color: var(--Yellow);
  color: var(--Purple);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0;
}

.footer h2 {
  font-size: 2rem;
}

.contact-us,
.form {
  width: 40%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--White);
  padding: 2rem;
  border-radius: 1rem;
}

.contact-us-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-us-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-us-title img {
  width: 2rem;
  margin-left: 0.5rem;
  background-color: var(--Yellow);
  border-radius: 50%;
  padding: 0.5rem;
}

.contact-us-item a,
.contact-us address {
  color: var(--Purple);
  background-color: var(--Yellow);
  padding: 2rem;
  width: 90%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
}

.contact-us-item a:hover,
.contact-us-item address:hover {
  background-color: var(--Purple);
  color: var(--White);
}

.float {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: var(--White);
  border: solid var(--Purple);
  border-radius: 50%;
}

.input {
  border: none;
  background-color: var(--Yellow);
  color: var(--Purple);
  padding: 2rem;
  box-sizing: border-box;
  text-indent: 1rem;
  border-radius: 1rem;
  width: 90%;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
}

.form select {
  padding: 1.6rem 2rem;
}

.input::placeholder {
  color: var(--Purple);
}

.input:focus {
  outline: none;
  background-color: var(--Purple);
  color: var(--White);
}

.form-button {
  border: none;
  color: var(--Purple);
  background-color: var(--Yellow);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}

.form-button:hover {
  background-color: var(--Purple);
  color: var(--White);
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .contact-us,
  .form {
    width: 80%;
  }

  .contact-us {
    margin: 2rem;
  }
}

/* PopUp */

.popup-hide {
  display: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--popup);
  animation: fadeIn 1s;
}

.popup-message {
  width: 40%;
  height: 40vh;
  background-color: var(--White);
  border: solid var(--Purple);
  color: var(--Yellow);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
